.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 102;
}
.modal {
  /* position: relative; */
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

/* .img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
} */
